body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000eb;
    background-image: url("../img/formation-developpeur-we-ecole-ewa-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* navbar  */
.navbar {
    background-color: #00000000 !important;
    border-radius: 2rem;

}

.container {
    background-color: #a9a9a929 !important;
    border-radius: 2rem;
    overflow: hidden;
}

.navbar img {
    width: 5rem;
    padding: 0.5rem 0 0.5rem 0.9rem;
}

.navbar i {
    color: #fff;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: #d6d64d;
}

.navbar .search {
    border-left: 1px solid #d6d64d;
}

.navbar .search svg {
    color: #d6d64d;
}


.navbar .navbar-toggler {
    color: #fff;
    font-size: 25px;
    border: none;
}

.navbar .navbar-toggler:focus {
    color: #d6d64d;
}

.navbar .navbar-toggler .navbar .navbar-toggler:focus {
    box-shadow: none;
}

.btn {
    background-color: #d6d64d;
    transition: 0.5s ease-out;
}

.btn:hover {
    background-color: #131302;
    color: #ffffff;
    letter-spacing: 2px;
}

.landing {
    margin-top: 25vh;
    margin-left: 21vw;
    background-color: #d6d64d19;
    padding: 40px;
    border-radius: 20px;
    width: 60vw;
    font-weight: 600;
    box-shadow: 0 0 50px #ffffff45;
}

h1 {
    margin-bottom: 2rem;
}

.landing p {
    color: #ffffff;
    background-color: #d64d4d98;
    display: inline;
    padding: 0.1rem;
}

.size {
    width: 20vh;
    padding: 0.6rem;
    margin-top: 2rem;
}

.margin {
    margin: 50px 0;
    word-spacing: 5px;
    text-justify: distribute;
    font-size: 18px;

}